<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MorningJetPackComposeclass"
        tools:targetApi="31">
        <activity
            android:name=".cardAssingment2"
            android:exported="false"
            android:label="@string/title_activity_card_assingment2"
            android:theme="@style/Theme.MorningJetPackComposeclass" />
        <activity
            android:name=".CardAssignment"
            android:exported="false"
            android:label="@string/title_activity_card_assignment"
            android:theme="@style/Theme.MorningJetPackComposeclass" />
        <activity
            android:name=".cardactivity"
            android:exported="false"
            android:label="@string/title_activity_cardactivity"
            android:theme="@style/Theme.MorningJetPackComposeclass" />
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.MorningJetPackComposeclass" />
        <activity
            android:name=".TextFieldActivity"
            android:exported="false"
            android:label="@string/title_activity_text_field"
            android:theme="@style/Theme.MorningJetPackComposeclass" />
        <activity
            android:name=".Imageactivity"
            android:exported="false"
            android:label="@string/title_activity_imageactivity"
            android:theme="@style/Theme.MorningJetPackComposeclass" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MorningJetPackComposeclass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>